body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.woff");  
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.woff");  
  font-weight: 700;
  font-style: normal;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}


/* Шапка */

.header {
  position: relative;
  background-image: url("../img/banner-bg.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0;
  margin-bottom: 60px;
}
  
.head-start {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-width: 1200px;
  padding: 24px 0 96px 0;
  margin: auto;
  z-index: 2;
}

.header:after {
  content: '';
  position: absolute;
  background-color: #000000;
  opacity: 0.6;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.logo-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.menu .menu-list {
 display: flex; 
 }

.menu-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.menu-item:not(:first-child), .menu-item:not(:last-child) {
margin-left: 35px;  
}

.menu-item .link {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
}

.menu-item .link:hover {
  border-bottom: solid 1px #e1d9bd
}

.blog-tittle {
  max-width: 680px;
  padding: 65px 0px 0px 0px;
  margin: auto;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  line-height: 1.67;
} 

/* Раздел Тренды */

.trend-good-tittles {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  color: #0f0d0e;
  margin: 0 auto;
  position: relative;
  margin-bottom: 40px;
}

.trend-good-tittles::after {
  content: " ";
  position: absolute;
  background: #e1d9bd;
  left: 47%;
  bottom: -12px;
  width: 65px;
  height: 3px;
}

.trend-line {
  max-width: 1200px;
}

.cont-trends {
  display: flex;
}

.trend {
  display: flex;
  position: relative;
  align-items: flex-end;
  width: calc(25% - 4px);
  background-color: #606260;
  background-repeat: no-repeat;
  background-size: 100% 320px;
  background-position: center center;
  margin-right: 4px;
  min-height: 320px;
}

.trend:last-child {
  width: 25%;
  margin-right: 0;
} 

.trend:after {
  content: '';
  position: absolute;
  background-color: #000000;
  opacity: 0.6;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.trend_one {
  background-image: url("../img/Trend-1.png");
}

.trend_two {
  background-image: url("../img/Trend-2.png");
} 

.trend_three {
  background-image: url("../img/Trend-3.png");
}

.trend_four {
  background-image: url("../img/Trend-4.png");
}

.trend-border {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  padding: 40px 35px 35px 35px;
  z-index: 2;
  border: 2px solid #b59f5b;
}

.trend-border .ul-border {
  display: flex;
  justify-content: start;
  text-align: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 5px 0;
}

.trend-tittle {
  margin: 0;
}

.trend-tittle .link {
  text-align: start;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.trend-tittle .link:hover {
  color: #b59f5b;
}

/* Основная страница */

.content-page {
 display: flex; 
 max-width: 1200px;
 padding: 64px 0 0 0;
 margin: 0 auto;
}


.main-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  margin-left: 0;
  margin-right: 60px;
}

.article {
  display: flex;
  margin-right: 0;
  margin-bottom: 60px;
}

.article-image {
  min-width: 381px;
  margin-right: 30px;
  box-sizing: border-box;
}

.article-text .ul-article {
  display: flex;
  justify-content: start;
  text-align: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.tag {
  list-style-type: none;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 20px;
}

.tag .link {
  text-decoration: none;
  color: #b59f5b;
  font-weight: bold;
}

.tag .link:hover {
  border-bottom: 2px solid #b59f5b;
}

.article-tittle {
  font-size: 20px;
  font-weight: bold;  
}

.article-tittle .link {
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0d0e;
}

.time-autor {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.date-theme {
  font-size: 12px;
  color: #888888;
}

.article-date {
  margin-right: 15px;
}

.article-aut {
  font-size: 12px;
}

.text {
  font-size: 15px;
}

/* Сайдбар */

.sidebar {
  width: 280px;
  flex-shrink: 0;
}

.new-posts {
 margin-bottom: 40px;
}

.sidebar-tittles {
  display: block;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #0f0d0e;
  margin: 0 auto;
  position: relative;
  margin-bottom: 40px;
}

.sidebar-tittles::after {
  content: " ";
  position: absolute;
  background: #e1d9bd;
  left: 38%;
  bottom: -12px;
  width: 25%;
  height: 3px;
}

.posts {
  display: flex;
  height: 100%;
  padding: 0;
  margin-bottom: 20px;
}

.post-tittle {
  padding: 0;
  margin: 0;
}

.post-tittle .link {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0d0e;
  box-sizing: border-box;
}

.post-image {
  min-width: 70px;
  margin-right: 20px;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

.post-text {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.post-date {
  box-sizing: border-box;
  margin: 0;
}

/* Поиск */

.search {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
}

.search-input {
  width: 85%;
  padding: 20px;
  border: none;
  background-color: #f4f7f6;
  color: #d1d3d3; 
  font-size: 13px;
}

.search-input:focus {
  outline: none; 
  border-bottom: 1px solid #b59f5b; 
}

.search-button {
  box-sizing: border-box;
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  border: none;
  background-color: #b59f5b;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
}

.search-button:hover {
 background-color: #323232; 
}

/* Рассылка */

.mailing {
  width: 100%;
  margin-bottom: 60px;
}

.mailing-input {
  width: 84%;
  padding: 20px;
  border: none;
  background-color: #f4f7f6;
  color: #d1d3d3; 
  font-size: 13px;
  margin-bottom: 15px;
}

.mailing-input:focus {
 outline: none; 
 border-bottom: 1px solid #b59f5b;
}

.mailing-button {
 width: 99%; 
 padding: 20px 0;
 border: none;
 background-color: #b59f5b;
 
}

.mailing-button:hover {
 background-color: #323232; 
}

.button-text {
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

/* Попап */

.popup-cont {
width: 100%;
height: 100vh;
box-sizing: border-box;
padding-top: 50px;
padding-bottom: 50px;

background-color: rgba(0, 0, 0, 0.75);
overflow-y: auto;

position: fixed;
top: 0;
left: 0;
display: flex;
}

.popup {
  max-width: 350px;
  font-size: 13px;
  background-color: #ffffff;
  color: #0f0d0e;
  display: flex;
  flex-direction: column;
  padding: 50px 30px 55px 30px;
  margin: auto;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.form-popup {
  display: flex;
  flex-direction: column;
}

.form-group:not(last-child){
  margin-bottom: 25px;
}



.popup-text {
  display: inline-block;
  margin-bottom: 5px;
}

.popup-tittle {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  color: #0f0d0e;
  margin: 0 auto;
  position: relative;
  margin-bottom: 30px;
}

.popup-tittle::after {
  content: " ";
  position: absolute;
  background: #e1d9bd;
  left: 30%;
  bottom: -12px;
  width: 40%;
  height: 3px;
}

.select-popup {
  width: 100%;
  height: 3.5em;
  border: none;
  background-color: #f4f7f6;
  color: #d1d3d3;
  padding: 15px 20px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: auto 15px;
}


.form-group input[type=radio] {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.radio-text {
  display: inline-block;
}

.radio-text::before {
   content: "";
   display: inline-block;
   vertical-align: middle;
   width: 15px;
   height: 15px;
   background-image: url("../svg/form-empty-circle.svg");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 15px;
   margin-right: 5px;
}

.radio-input:checked + .radio-text::before {
  background-image: url("../svg/form-circle.svg");
}

label.radio-text {
  margin-right: 10px;
}

.textarea-group {
  width: 100%;
  background-color: #f4f7f6;
  color: #d1d3d3;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  resize: none;
  padding: 20px;
  box-sizing: border-box;
}

.textarea-group:focus {
  outline: none; 
  border-bottom: 1px solid #b59f5b;
 }

 .popup-close {
  width: 18px;
  height: 18px;
  background-image: url("../svg/form-x.svg");
  background-color: transparent;
  border: none;
  position: absolute;
  top: -20px;
  right: 0px;
}

.popup-cont {
  display: none;
}

/* Теги */

.tegs {
  margin-bottom: 60px;
}

.tegs .ul-tegs {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 0;
} 

.tegs .li-tegs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 6px 8px 0;
}

.tegs .link {
  box-sizing: border-box;
  padding: 8px 15px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #0f0d0e;
  border: 3px solid #eeeeee;
}

.tegs .link:hover {
  border: 3px solid #b59f5b;
}

.thems {
  margin-bottom: 60px;
}

.thems .ul-thems {
  padding: 0;
}

.thems .li-thems {
  position: relative;
  padding-top: 20px;
  padding-bottom: 15px;
}

.thems .li-thems::before {
  content: " ";
  position: absolute;
  background: #eeeeee;
  bottom: 0;
  width: 100%;
  height: 1px;
}

.thems .link {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}

.thems .link:hover {
  color: #b59f5b;
}

.thems .thems-number {
  font-size: 12px;
  color: #b59f5b;
  vertical-align: top;
}

/* Магазин */

.goods {
  max-width: 1200px;
  margin: 0 auto 65px;
  padding: 0 64px;
}

.good-tittle {
  font-size: 20px;
  font-weight: bold; 
  text-transform: uppercase;
  margin: 15px 0;
}

.good-cont {
  display: flex;
  flex-wrap: wrap;
}

.good {
  display: flex;
  flex-direction: column;
  width: 25%;
  min-width: 300px;
  margin-bottom: 32px;
}

.good_one {
  margin-left: 30px;
}

.good_two {
  margin-left: 110px;
  margin-right: 110px;
}

.image-good {
  min-width: 300px;
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.good-body {
  outline: 2px solid #b59f5b;
  outline-offset: 30px;
  flex-grow: 1;
}

.good-text-p {
  font-size: 15px;
  margin: 20px 0;
}

.good-text .link {
  color: #b59f5b;
}

.good-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.good-prices {
  display: flex;
  flex-wrap: wrap;
}

.good-price {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}

.good-price-old {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: line-through;
}

.good-button {
  width: 140px;
}

/* Подвал */

.footer-page {
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto 74px;
  background-color: #f4f7f6;
  padding: 32px 30px;  
}

.footer-page .ul-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer-page .li-footer {
  list-style-type: none;
  padding: 15px;
}

.social-icon {
  display: block;
  width: 20px;
  height: 20px;
}

.icon-dribble {
  background-image: url("../svg/001-dribbble.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-pinterest {
  background-image: url("../svg/002-pinterest.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-tumblr {
  background-image: url("../svg/003-tumblr.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.copyright .link {
  display: block;
  margin-bottom: 40px;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  color: #999999;
}

/* Стили на планшет */

@media (min-width: 641px) and (max-width: 1199px) {

  .head-start {
    max-width: 700px;
  }

  .header {
    background-image: url("../img/banner-bg-tablet.jpg");
  }

  .menu-item:not(:first-child), .menu-item:not(:last-child) {
    margin-right: 35px;  
    margin-left: 0;
    }
    

  .menu-burger .link {
    display: inline-block;
    width: 23px;
    height: 20px;
    background-image: url("../svg/Shape 4 copy.svg");
  }

  .cont-trends {
    flex-wrap: wrap;
  }

  .trend-good-tittles::after {
    left: 45%;
  }

  .trend-line {
    max-width: 700px;
  }

  .trend {
    width: 49%;
    margin-bottom: 4px;
    margin-right: 0;
  }
  
  .trend:last-child {
    width: 49%;
  }

  .trend_odd {
    margin-right: 4px;
  }

  .trend_even {
    flex-grow: 1;
  }

  .content-page {
    max-width: 700px;
  }

  .main-page {
    margin-right: 35px;
  }

  .article {
    position: relative;
    flex-direction: column;
  }

  .article-image {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .article:not(:last-child):after {
    content: " ";
    position: absolute;
    background: #eeeeee;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 3px;
  }

  .sidebar {
    margin-right: 35px;
  }

  /* Попап на планшет*/

  .radio-text::before {
    width: 22px;
    height: 22px;
    background-size: 22px;
 }

 .form-group-text {
  display: inline-block;
  margin-bottom: 10px;
 }

 .popup-close {
  width: 27px;
  height: 27px;
  top: -35px;
}

/* ------------------------------- */

  .goods {
    padding: 0 35px;
    max-width: 700px;
  }

  .good-cont {
    margin: auto;
  }

  .good {
    width: 37%; 
    min-width: 290px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
  }

  .good_odd {
    margin-right: 30px;
  }

  .good_even {
    margin-left: 30px;
  } 

  .good-body {
    outline-offset: 20px;
  }

  .footer-page {
    max-width: 700px;
  }
}

/* Стили на телефон */

@media (max-width: 640px) {

  .header {
    background-image: url("../img/banner-mobile.jpg");
  }

  .head-start {
    flex-direction: column;
    max-width: 330px;
  }

  .logo-image {
    width: 270px;
  }

  .menu-item {
    display: none;
  }

  .menu-burger .link {
    display: inline-block;
    width: 23px;
    height: 20px;
    background-image: url("../svg/Shape 4 copy.svg");
  }
}